<nav class="navbar navbar-inverse navbar-fixed-top" role="banner" ng-controller="MenuController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" data-target="/" class="navbar-brand">HelpDesk</a>      
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in items" ng-class="setActiveItemPartial(item)" >
          <a href="{{item.url}}" ng-bind-html="item.name"></a>
        </li>
      </ul>      
    </nav>           
  </div>
</nav>